{% extends 'base.html' %}

{% block body %} 

<h2>About Vertical Tank Maintenance</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem laboriosam vitae nobis velit natus, ratione dolor architecto voluptatem enim iusto error, tenetur doloremque illo quisquam eum ullam ex, ut repellendus.</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis sequi laboriosam aperiam voluptatem in quam ex aliquam dolor nostrum accusamus expedita, quae eaque totam? Dolores soluta iure alias quisquam officia.</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolorum, officiis alias quod beatae quae quos ipsa asperiores, magnam aliquam doloribus odio itaque vitae. Rerum quidem reiciendis beatae sapiente laudantium?</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsam inventore qui tenetur pariatur, atque rem facere dolorem vero modi aperiam amet dolor nobis, saepe, unde provident vel assumenda corrupti!</p>

{% endblock %}