{% extends 'base.html' %} 

{% block body %}

<h2>Welcome to VTM!</h2>

<img src=="https://imgur.com/a/cWmmxLb", alt="Vertical Tank Picture", width = 400, height = 300>
<blockquote class="imgur-embed-pub" lang="en" data-id="SmDa58m"><a href="https://imgur.com/SmDa58m">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
<br>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam voluptatum ratione tempora labore nostrum dicta dolorum quidem fugit odio obcaecati, excepturi quisquam saepe odit repudiandae vero quae deserunt culpa. Optio!</p>

{% endblock %}